<%- include('partials/header') -%>
<div class="main-container">
    <nav>
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/logs">Logs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/entry">Entry</a></li>
        </ul>
    </nav>
    <main class="about-main">
        <h2>Why should you journal?</h2>
        <div class="about page">
            <p>
                Welcome to this gratitude journal website! This platform is a space to reflect on the things in life that inspire gratitude and share this journey with others interested in cultivating mindfulness.
            </p>
            <p>
                Gratitude journaling is a simple and effective practice that involves taking a few moments each day to write down the things one is grateful for. By focusing on the positive aspects of life, this practice helps to develop a greater sense of appreciation and contentment.
            </p>
            <p>
                Research has shown that practicing gratitude can have a number of positive benefits for physical and mental health, such as reducing stress, improving sleep, and boosting overall well-being. By making gratitude a regular part of daily life, one can transform the way they perceive the world and find more joy and fulfillment in their experiences.
            </p>
            <p>
                In addition to the personal benefits of gratitude journaling, it can also have a positive impact on relationships with others. By focusing on the things one appreciates about the people in their life, one can strengthen connections and cultivate a greater sense of empathy and compassion.
            </p>
            <p>
                This website was created to offer a platform for individuals interested in developing a regular gratitude journaling practice. By providing daily prompts and reflections, the platform can guide users on their gratitude journey. Users can customize their journals to fit their personal style and preferences, and they can share their reflections with others if they choose to.
            </p>
        </div>
    </main>
</div>
<%- include('partials/footer') -%>