<%- include('partials/header') -%>
    <div class="main-container">

        <!-- Navigation Links -->
        <nav>
            <ul>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/logs">Logs</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>

        <main>

            <!-- Header -->
            <header class="text-center">
                Editing Entry from ___
            </header>

            <!-- Form -->

                <form class="page p-5" action="/entry" method="POST">
                    <div class="form-section">
                        <label for="goodThing">What's one good thing that happened today?</label>
                        <textarea id="goodThing" name="goodThing" required>
                            put the thing here
                        </textarea>
                    </div>
    
                    <div class="form-section">
                        <label for="positiveAccomplishment">What's one positive accomplishment you made today?</label>
                        <textarea id="positiveAccomplishment" name="positiveAccomplishment" required>
                            asd
                        </textarea>
                    </div>
    
                    <div class="form-section">
                        <label for="mood">How are you feeling today?</label>
                        <div class="grid-container">
                        <% moods.forEach((mood) => { %>
                            <label><input type="radio" name="mood" value="<%= mood %>"> <%= mood %></label>
                        <% }); %>
                        </div>
                    </div>
    
                    <div class="form-section">
                        <label for="madeYouSmile">What made you smile today?</label>
                        <textarea id="madeYouSmile" name="madeYouSmile" required>
                            asdkjh
                        </textarea>
                    </div>
    
                    <div class="form-section">
                        <label for="lookingForwardTo">What are you looking forward to?</label>
                        <textarea id="lookingForwardTo" name="lookingForwardTo" required>
                            asjdh
                        </textarea>
                    </div>
    
                    <div class="form-section">
                        <label for="proudOfYourself">What are you proud of yourself for today?</label>
                        <textarea id="proudOfYourself" name="proudOfYourself" required>
                            asdjkh
                        </textarea>
                    </div>
    
                    <div class="form-section">
                        <label for="thoughtsReflections">Any other thoughts or reflections for today?</label>
                        <textarea id="thoughtsReflections" name="thoughtsReflections" required>
                            askjdh
                        </textarea>
                    </div>
    
                    <button class="submit-button btn btn-primary btn-lg" type="submit">Submit</button>
                </form>
   
        </main>

    </div>
<%- include('partials/footer') -%>