<%- include('partials/header') -%>

<main class="container-index">
    <h1 class="login-title">Welcome to your gratitude journal!</h1>
    <div class="index">
        <a href="/login" class="btn btn-primary"> Login</a>
        <a href="/signup" class="btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>