<%- include('partials/header') -%>
<div class="main-container">
    <nav>
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/entry">Entry</a></li>
        </ul>
    </nav>
    <main class="logs">
        <div class="logs-inner">
            <h2>Calendar</h2>
        </div>
    </main>
</div>
<%- include('partials/footer') -%>