body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    background: #8ecae6;
}

.main-container {
    display: flex;
    width: 100%;
    margin: 0 0 0 0;
}

.main-container main {
    width: 75%;
    margin: 0 65px;
}

.main-container nav {
    width: 25%;
    background-color: #003566;
    color: white;
}

nav ul {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

nav ul li {
    display: block;
    text-align: center;
}

nav ul a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav ul li a:hover {
    background-color: #457b9d;
    color: white;
}

header {
    margin: 40px;
}

p {
    margin: 0;
}

h2 {
    margin-bottom: 16px;
}

li {
    list-style-type: none;
}

.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    background-image: url("../imgs/paper.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.35rem;
  }

form {
    display: flex;
}

.form-section {
    margin: 10px 0;
    padding: 10px;
}

.form-section > * {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea {
    height: 120px;
    width: 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
}

.submit-button {
    margin-left: 5px;
}

/* ABOUT */

.about-main h2 {
    margin-top: 40px;
}

.about {
    margin: 40px 0;
}

.about p {
    margin: 10px 0;
    padding: 16px 65px;
}

.about p:first-of-type {
    padding-top: 60px;
}

.about p:last-of-type {
    padding-bottom: 40px;
}

/* Calendar */



@media screen and (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 10px;
    }
  }