body {
    /* font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Kalam', cursive; */
    font-family: 'Patrick Hand', cursive;
    background: #e9edc9;
}

li {
    list-style-type: none;
}

.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }